VITE_API_BASE_URL=http://localhost:4000/api
VITE_APP_NAME=Institution's Innovation Council
VITE_COLLEGE_NAME=Guru Tegh Bahadur Institute of Technology, GGSIPU
VITE_COLLEGE_LOGO_URL=/assets/college-logo.jpg
VITE_SOCIETY_LOGO_URL=/assets/society-logo.jpg
